# Env for service. Ex: dev | stg | prd (-app-env)
APP_ENV="dev"

# gin mode (debug | release). Default debug (-gin-mode)
GIN_MODE="debug"

# gin server port. Default 3000 (-gin-port)
GIN_PORT=3000

# The environment name, e.g. development, staging, and production (-otel-environment)
OTEL_ENVIRONMENT="development"

# Otel otlp endpoint, e.g. http://localhost:4317 (-otel-exporter-otlp-endpoint)
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317

# Otel protocol, e.g. http or grpc (-otel-exporter-otlp-protocol)
OTEL_EXPORTER_OTLP_PROTOCOL="grpc"

# Enable otel service (-otel-is-enabled)
OTEL_IS_ENABLED=true

# Enable otel log (-otel-is-enabled-log)
OTEL_IS_ENABLED_LOG=true

# Enable otel metric (-otel-is-enabled-metric)
OTEL_IS_ENABLED_METRIC=true

# Enable otel trace (-otel-is-enabled-trace)
OTEL_IS_ENABLED_TRACE=true

# The service name must be the same APP_NAME in .env (-otel-service-name)
OTEL_SERVICE_NAME=

# The service version must be the same release, e.g. 1.0.0 (-otel-service-version)
OTEL_SERVICE_VERSION=

HYPERDX_API_KEY=
